# Node.js dependencies
node_modules/

# Build output
dist/

# Environment files
*.env

# Operating System files
.DS_Store
Thumbs.db

# Ignore frontend specific files
/travel-app-frontend
travel-app-frontend
*.log
